Facebook/web/WEB-INF/wsdl/192.168.160.1_8080/FBService/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="AgregarAmigo" type="tns:AgregarAmigo"/>

<xs:element name="AgregarAmigoResponse" type="tns:AgregarAmigoResponse"/>

<xs:element name="AgregarEliminarAVL" type="tns:AgregarEliminarAVL"/>

<xs:element name="AgregarEliminarAVLResponse" type="tns:AgregarEliminarAVLResponse"/>

<xs:element name="AgregarEvento" type="tns:AgregarEvento"/>

<xs:element name="AgregarEventoAmigos" type="tns:AgregarEventoAmigos"/>

<xs:element name="AgregarEventoAmigosResponse" type="tns:AgregarEventoAmigosResponse"/>

<xs:element name="AgregarEventoResponse" type="tns:AgregarEventoResponse"/>

<xs:element name="AgregarHistorial" type="tns:AgregarHistorial"/>

<xs:element name="AgregarHistorial2" type="tns:AgregarHistorial2"/>

<xs:element name="AgregarHistorial2Response" type="tns:AgregarHistorial2Response"/>

<xs:element name="AgregarHistorialResponse" type="tns:AgregarHistorialResponse"/>

<xs:element name="AgregarPublicacion" type="tns:AgregarPublicacion"/>

<xs:element name="AgregarPublicacionResponse" type="tns:AgregarPublicacionResponse"/>

<xs:element name="AgregarUsuario" type="tns:AgregarUsuario"/>

<xs:element name="AgregarUsuarioResponse" type="tns:AgregarUsuarioResponse"/>

<xs:element name="AsignarName" type="tns:AsignarName"/>

<xs:element name="AsignarNameResponse" type="tns:AsignarNameResponse"/>

<xs:element name="AsignarPhoto" type="tns:AsignarPhoto"/>

<xs:element name="AsignarPhotoResponse" type="tns:AsignarPhotoResponse"/>

<xs:element name="AsignarUsuario" type="tns:AsignarUsuario"/>

<xs:element name="AsignarUsuarioLog" type="tns:AsignarUsuarioLog"/>

<xs:element name="AsignarUsuarioLogResponse" type="tns:AsignarUsuarioLogResponse"/>

<xs:element name="AsignarUsuarioResponse" type="tns:AsignarUsuarioResponse"/>

<xs:element name="DarDatosPerfil" type="tns:DarDatosPerfil"/>

<xs:element name="DarDatosPerfilAndroid" type="tns:DarDatosPerfilAndroid"/>

<xs:element name="DarDatosPerfilAndroidResponse" type="tns:DarDatosPerfilAndroidResponse"/>

<xs:element name="DarDatosPerfilResponse" type="tns:DarDatosPerfilResponse"/>

<xs:element name="DarNombre" type="tns:DarNombre"/>

<xs:element name="DarNombreResponse" type="tns:DarNombreResponse"/>

<xs:element name="DarUsuarioLog" type="tns:DarUsuarioLog"/>

<xs:element name="DarUsuarioLogResponse" type="tns:DarUsuarioLogResponse"/>

<xs:element name="DarUsuarioPerfil" type="tns:DarUsuarioPerfil"/>

<xs:element name="DarUsuarioPerfilResponse" type="tns:DarUsuarioPerfilResponse"/>

<xs:element name="EliminarAmigo" type="tns:EliminarAmigo"/>

<xs:element name="EliminarAmigoResponse" type="tns:EliminarAmigoResponse"/>

<xs:element name="EliminarSistema" type="tns:EliminarSistema"/>

<xs:element name="EliminarSistemaResponse" type="tns:EliminarSistemaResponse"/>

<xs:element name="EliminarUsuario" type="tns:EliminarUsuario"/>

<xs:element name="EliminarUsuarioResponse" type="tns:EliminarUsuarioResponse"/>

<xs:element name="ExisteAVL" type="tns:ExisteAVL"/>

<xs:element name="ExisteAVLResponse" type="tns:ExisteAVLResponse"/>

<xs:element name="GraphAVL" type="tns:GraphAVL"/>

<xs:element name="GraphAVLResponse" type="tns:GraphAVLResponse"/>

<xs:element name="GraphArbolB" type="tns:GraphArbolB"/>

<xs:element name="GraphArbolBResponse" type="tns:GraphArbolBResponse"/>

<xs:element name="GraphEvento" type="tns:GraphEvento"/>

<xs:element name="GraphEventoResponse" type="tns:GraphEventoResponse"/>

<xs:element name="GraphHistorial" type="tns:GraphHistorial"/>

<xs:element name="GraphHistorialResponse" type="tns:GraphHistorialResponse"/>

<xs:element name="GraphPublicacion" type="tns:GraphPublicacion"/>

<xs:element name="GraphPublicacionResponse" type="tns:GraphPublicacionResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="ModificarUsuario" type="tns:ModificarUsuario"/>

<xs:element name="ModificarUsuarioResponse" type="tns:ModificarUsuarioResponse"/>

<xs:element name="MostrarAmigos" type="tns:MostrarAmigos"/>

<xs:element name="MostrarAmigosResponse" type="tns:MostrarAmigosResponse"/>

<xs:element name="MostrarEvento" type="tns:MostrarEvento"/>

<xs:element name="MostrarEventoAndroid" type="tns:MostrarEventoAndroid"/>

<xs:element name="MostrarEventoAndroidResponse" type="tns:MostrarEventoAndroidResponse"/>

<xs:element name="MostrarEventoResponse" type="tns:MostrarEventoResponse"/>

<xs:element name="MostrarHistorial" type="tns:MostrarHistorial"/>

<xs:element name="MostrarHistorialResponse" type="tns:MostrarHistorialResponse"/>

<xs:element name="MostrarMiEvento" type="tns:MostrarMiEvento"/>

<xs:element name="MostrarMiEventoResponse" type="tns:MostrarMiEventoResponse"/>

<xs:element name="MostrarMiPublicacion" type="tns:MostrarMiPublicacion"/>

<xs:element name="MostrarMiPublicacionResponse" type="tns:MostrarMiPublicacionResponse"/>

<xs:element name="MostrarPhoto" type="tns:MostrarPhoto"/>

<xs:element name="MostrarPhotoAndroid" type="tns:MostrarPhotoAndroid"/>

<xs:element name="MostrarPhotoAndroidResponse" type="tns:MostrarPhotoAndroidResponse"/>

<xs:element name="MostrarPhotoResponse" type="tns:MostrarPhotoResponse"/>

<xs:element name="MostrarPublicacion" type="tns:MostrarPublicacion"/>

<xs:element name="MostrarPublicacionAndroid" type="tns:MostrarPublicacionAndroid"/>

<xs:element name="MostrarPublicacionAndroidResponse" type="tns:MostrarPublicacionAndroidResponse"/>

<xs:element name="MostrarPublicacionResponse" type="tns:MostrarPublicacionResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="MostrarPhoto">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarPhotoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarAmigos">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarAmigosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarUsuario">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarName">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphPublicacion">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphPublicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarPublicacion">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarPublicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarPublicacionAndroid">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarPublicacionAndroidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarUsuarioPerfil">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DarUsuarioPerfilResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphArbolB">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraphArbolBResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAmigo">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarAmigoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarPhoto">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarPhotoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarUsuario">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarPublicacion">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="publicador" type="xs:string" minOccurs="0"/>
<xs:element name="texto" type="xs:string" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarPublicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphAVL">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphAVLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEliminarAVL">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="parameter1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEliminarAVLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAmigo">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarAmigoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarHistorial">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="contenido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarHistorialResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarPhotoAndroid">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarPhotoAndroidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphEvento">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEvento">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="evento" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarHistorial">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MostrarHistorialResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarMiEvento">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarMiEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarMiPublicacion">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarMiPublicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarSistema">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarSistemaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarDatosPerfil">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarDatosPerfilResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarUsuarioLog">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AsignarUsuarioLogResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarEvento">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarEventoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarUsuario">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="edad" type="xs:string" minOccurs="0"/>
<xs:element name="genero" type="xs:string" minOccurs="0"/>
<xs:element name="pais" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ModificarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GraphHistorial">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="GraphHistorialResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarHistorial2">
<xs:sequence>
<xs:element name="palabra1" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="palabra2" type="xs:string" minOccurs="0"/>
<xs:element name="contenido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarHistorial2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarDatosPerfilAndroid">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarDatosPerfilAndroidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarNombre">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DarNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEventoAmigos">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="evento" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarEventoAmigosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarEventoAndroid">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostrarEventoAndroidResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteAVL">
<xs:sequence>
<xs:element name="x" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ExisteAVLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DarUsuarioLog">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DarUsuarioLogResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>